OSIS1.0 rel/OSISCore_1.0 Folder/OSISScripture_1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified">
        <xs:redefine schemaLocation="OSISCore_1.0.xsd">
		<xs:simpleType name="refWorkType">
			<xs:restriction base="refWorkType">
				<xs:pattern value="(Bible\.Prot|Bible\.Cath|Bible\.AB|Bible\.ASV|Bible\.BF2|Bible\.BHK|Bible\.BHS|Bible\.Byz|Bible\.CEV|Bible\.CJB|Bible\.Copt|Bible\.Dar|Bible\.DR|Bible\.DRC|Bible\.GNB|Bible\.GNT|Bible\.GOODSPEED|Bible\.JB|Bible\.KJV|Bible\.LB|Bible\.LXX|Bible\.MLB|Bible\.MOFFATT|Bible\.MT|Bible\.NA27|Bible\.NAB|Bible\.NASB|Bible\.NAV|Bible\.NEB|Bible\.NIV|Bible\.NJB|Bible\.NJPS|Bible\.NKJV|Bible\.NRSV|Bible\.PHILLIPS|Bible\.REB|Bible\.RSV|Bible\.RV|Bible\.Syr|Bible\.TEV|Bible\.TR|Bible\.UBS4|Bible\.Vulg|Bible\.WEYMOUTH|Bible\.WH|Bible\.Wyc|(Bible((\.[\w]+){1,})))"/>
			</xs:restriction>
		</xs:simpleType>
		<xs:simpleType name="referenceType">
			<xs:restriction base="referenceType">
				<xs:pattern value="((Bible\.Prot|Bible\.Cath|Bible\.AB|Bible\.ASV|Bible\.BF2|Bible\.BHK|Bible\.BHS|Bible\.Byz|Bible\.CEV|Bible\.CJB|Bible\.Copt|Bible\.Dar|Bible\.DR|Bible\.DRC|Bible\.GNB|Bible\.GNT|Bible\.GOODSPEED|Bible\.JB|Bible\.KJV|Bible\.LB|Bible\.LXX|Bible\.MLB|Bible\.MOFFATT|Bible\.MT|Bible\.NA27|Bible\.NAB|Bible\.NASB|Bible\.NAV|Bible\.NEB|Bible\.NIV|Bible\.NJB|Bible\.NJPS|Bible\.NKJV|Bible\.NRSV|Bible\.PHILLIPS|Bible\.REB|Bible\.RSV|Bible\.RV|Bible\.Syr|Bible\.TEV|Bible\.TR|Bible\.UBS4|Bible\.Vulg|Bible\.WEYMOUTH|Bible\.WH|Bible\.Wyc|(Bible((\.[\w]+){1,})))\.\.((Gen|Exod|Lev|Num|Deut|Josh|Judg|Ruth|_1Sam|_2Sam|_1Kgs|_2Kgs|_1Chr|_2Chr|Ezra|Neh|Esth|Job|Ps|Prov|Eccl|Song|Isa|Jer|Lam|Ezek|Dan|Hos|Joel|Amos|Obad|Jonah|Mic|Nah|Hab|Zeph|Hag|Zech|Mal|Bar|PrAzar|Bel|Sus|_1Esd|_2Esd|AddEsth|EpJer|Jdt|_1Macc|_2Macc|_3Macc|_4Macc|PrMan|Ps151|Sir|Tob|Wis)|(Matt|Mark|Luke|John|Acts|Rom|_1Cor|_2Cor|Gal|Eph|Phil|Col|_1Thess|_2Thess|_1Tim|_2Tim|Titus|Phlm|Heb|Jas|_1Pet|_2Pet|_1John|_2John|_3John|Jude|Rev))((\.([\w]+(\-[\w]+)?)){0,})?)"/>
				<xs:pattern value="((Gen|Exod|Lev|Num|Deut|Josh|Judg|Ruth|_1Sam|_2Sam|_1Kgs|_2Kgs|_1Chr|_2Chr|Ezra|Neh|Esth|Job|Ps|Prov|Eccl|Song|Isa|Jer|Lam|Ezek|Dan|Hos|Joel|Amos|Obad|Jonah|Mic|Nah|Hab|Zeph|Hag|Zech|Mal|Bar|PrAzar|Bel|Sus|_1Esd|_2Esd|AddEsth|EpJer|Jdt|_1Macc|_2Macc|_3Macc|_4Macc|PrMan|Ps151|Sir|Tob|Wis)|(Matt|Mark|Luke|John|Acts|Rom|_1Cor|_2Cor|Gal|Eph|Phil|Col|_1Thess|_2Thess|_1Tim|_2Tim|Titus|Phlm|Heb|Jas|_1Pet|_2Pet|_1John|_2John|_3John|Jude|Rev))((\.([\w]+(\-[\w]+)?)){0,})?"/>
			</xs:restriction>
		</xs:simpleType>
		<xs:simpleType name="milestoneID">
			<xs:restriction base="milestoneID">
				<xs:pattern value="((Bible\.Prot|Bible\.Cath|Bible\.AB|Bible\.ASV|Bible\.BF2|Bible\.BHK|Bible\.BHS|Bible\.Byz|Bible\.CEV|Bible\.CJB|Bible\.Copt|Bible\.Dar|Bible\.DR|Bible\.DRC|Bible\.GNB|Bible\.GNT|Bible\.GOODSPEED|Bible\.JB|Bible\.KJV|Bible\.LB|Bible\.LXX|Bible\.MLB|Bible\.MOFFATT|Bible\.MT|Bible\.NA27|Bible\.NAB|Bible\.NASB|Bible\.NAV|Bible\.NEB|Bible\.NIV|Bible\.NJB|Bible\.NJPS|Bible\.NKJV|Bible\.NRSV|Bible\.PHILLIPS|Bible\.REB|Bible\.RSV|Bible\.RV|Bible\.Syr|Bible\.TEV|Bible\.TR|Bible\.UBS4|Bible\.Vulg|Bible\.WEYMOUTH|Bible\.WH|Bible\.Wyc|(Bible((\.[\w]+){1,})))\.\.((Gen|Exod|Lev|Num|Deut|Josh|Judg|Ruth|_1Sam|_2Sam|_1Kgs|_2Kgs|_1Chr|_2Chr|Ezra|Neh|Esth|Job|Ps|Prov|Eccl|Song|Isa|Jer|Lam|Ezek|Dan|Hos|Joel|Amos|Obad|Jonah|Mic|Nah|Hab|Zeph|Hag|Zech|Mal|Bar|PrAzar|Bel|Sus|_1Esd|_2Esd|AddEsth|EpJer|Jdt|_1Macc|_2Macc|_3Macc|_4Macc|PrMan|Ps151|Sir|Tob|Wis)|(Matt|Mark|Luke|John|Acts|Rom|_1Cor|_2Cor|Gal|Eph|Phil|Col|_1Thess|_2Thess|_1Tim|_2Tim|Titus|Phlm|Heb|Jas|_1Pet|_2Pet|_1John|_2John|_3John|Jude|Rev))((\.([\w]+(\-[\w]+)?)){0,})?)"/>
				<xs:pattern value="((Gen|Exod|Lev|Num|Deut|Josh|Judg|Ruth|_1Sam|_2Sam|_1Kgs|_2Kgs|_1Chr|_2Chr|Ezra|Neh|Esth|Job|Ps|Prov|Eccl|Song|Isa|Jer|Lam|Ezek|Dan|Hos|Joel|Amos|Obad|Jonah|Mic|Nah|Hab|Zeph|Hag|Zech|Mal|Bar|PrAzar|Bel|Sus|_1Esd|_2Esd|AddEsth|EpJer|Jdt|_1Macc|_2Macc|_3Macc|_4Macc|PrMan|Ps151|Sir|Tob|Wis)|(Matt|Mark|Luke|John|Acts|Rom|_1Cor|_2Cor|Gal|Eph|Phil|Col|_1Thess|_2Thess|_1Tim|_2Tim|Titus|Phlm|Heb|Jas|_1Pet|_2Pet|_1John|_2John|_3John|Jude|Rev))((\.([\w]+(\-[\w]+)?)){0,})?"/>
			</xs:restriction>
		</xs:simpleType>
		<xs:simpleType name="milestoneIDREF">
			<xs:restriction base="milestoneIDREF">
				<xs:pattern value="((Bible\.Prot|Bible\.Cath|Bible\.AB|Bible\.ASV|Bible\.BF2|Bible\.BHK|Bible\.BHS|Bible\.Byz|Bible\.CEV|Bible\.CJB|Bible\.Copt|Bible\.Dar|Bible\.DR|Bible\.DRC|Bible\.GNB|Bible\.GNT|Bible\.GOODSPEED|Bible\.JB|Bible\.KJV|Bible\.LB|Bible\.LXX|Bible\.MLB|Bible\.MOFFATT|Bible\.MT|Bible\.NA27|Bible\.NAB|Bible\.NASB|Bible\.NAV|Bible\.NEB|Bible\.NIV|Bible\.NJB|Bible\.NJPS|Bible\.NKJV|Bible\.NRSV|Bible\.PHILLIPS|Bible\.REB|Bible\.RSV|Bible\.RV|Bible\.Syr|Bible\.TEV|Bible\.TR|Bible\.UBS4|Bible\.Vulg|Bible\.WEYMOUTH|Bible\.WHBible\.Wyc|(Bible((\.[\w]+){1,})))\.\.((Gen|Exod|Lev|Num|Deut|Josh|Judg|Ruth|_1Sam|_2Sam|_1Kgs|_2Kgs|_1Chr|_2Chr|Ezra|Neh|Esth|Job|Ps|Prov|Eccl|Song|Isa|Jer|Lam|Ezek|Dan|Hos|Joel|Amos|Obad|Jonah|Mic|Nah|Hab|Zeph|Hag|Zech|Mal|Bar|PrAzar|Bel|Sus|_1Esd|_2Esd|AddEsth|EpJer|Jdt|_1Macc|_2Macc|_3Macc|_4Macc|PrMan|Ps151|Sir|Tob|Wis)|(Matt|Mark|Luke|John|Acts|Rom|_1Cor|_2Cor|Gal|Eph|Phil|Col|_1Thess|_2Thess|_1Tim|_2Tim|Titus|Phlm|Heb|Jas|_1Pet|_2Pet|_1John|_2John|_3John|Jude|Rev))((\.([\w]+(\-[\w]+)?)){0,})?)"/>
				<xs:pattern value="((Gen|Exod|Lev|Num|Deut|Josh|Judg|Ruth|_1Sam|_2Sam|_1Kgs|_2Kgs|_1Chr|_2Chr|Ezra|Neh|Esth|Job|Ps|Prov|Eccl|Song|Isa|Jer|Lam|Ezek|Dan|Hos|Joel|Amos|Obad|Jonah|Mic|Nah|Hab|Zeph|Hag|Zech|Mal|Bar|PrAzar|Bel|Sus|_1Esd|_2Esd|AddEsth|EpJer|Jdt|_1Macc|_2Macc|_3Macc|_4Macc|PrMan|Ps151|Sir|Tob|Wis)|(Matt|Mark|Luke|John|Acts|Rom|_1Cor|_2Cor|Gal|Eph|Phil|Col|_1Thess|_2Thess|_1Tim|_2Tim|Titus|Phlm|Heb|Jas|_1Pet|_2Pet|_1John|_2John|_3John|Jude|Rev))((\.([\w]+(\-[\w]+)?)){0,})?"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:redefine>
</xs:schema>
